

.lausnir-container {
    margin-top: 6vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.lausn-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 31%;
    height: 80vh;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #cfcfcf;
}
.lausn-card h2 {
    font-family: sans-serif;
    font-size: 5vh;
}

.lausn-card-description {
    font-family: sans-serif;
    font-size: 3vh;
    color: rgb(126, 126, 126);
}
.lausn-card-price {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 3vh;
}
.nánar-button {
    width: 22vh;
    height: 6vh;
    background-color: #272727;
    color: white;
    font-family: sans-serif;
    border: none;
    border-radius: 8px;
}